server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: usuarios-route
          uri: lb://usuario
          predicates:
            - Path=/usuario/**

        - id: reservas-route
          uri: lb://reservas
          predicates:
            - Path=/reservas/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/