version: '3.8'

services:

  usuarios-db:
    image: postgres
    container_name: elbuensabor_postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=elbuensabor_db
    ports:
      - "5432:5432"
    networks:
      - elbuensabor_network

volumes:
  postgres_data:
  mysql_data:

networks:
  elbuensabor_network:
    driver: bridge
