version: '3.8'

services:
  reservas-db:
    image: mysql:8.0
    container_name: elbuensabor_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootroot
      MYSQL_DATABASE: elbuensabor_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - elbuensabor_network

volumes:
  postgres_data:
  mysql_data:

networks:
  elbuensabor_network:
    driver: bridge
